.Contact{

    color: #000000 !important;
    
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    top: 15rem;
}
/* .gapping{
  margin-left: 5rem;
 
}
.dropdown{
    margin-left: 22rem;
    
} */
.second-navbar{
    background: #f8f7f749;
    box-shadow:rgba(158, 158, 158, 0.25);
}